
.card{
    color: white;
}
.card{
}
.icon{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20px;
}
.header{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

}
.card-1{
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid white;
    margin-left: 20px;
    list-style-type: none;
    margin-bottom: 30px;
    transition: width 2s;
}
.card-2{
    position: absolute;
    transform: translateY(-100%);
    border: 1px solid white;
    background-color: white;
    width: 400px;
    height: auto;
    
}
.card-1:hover{
  width: 450px;
}
